<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>SpringBoot Static Web Application</title>
</head>
<body>

<h1 th:text="${title}">This is a SpringBoot Static Web Application</h1>
<p th:text="${msg}">Application Is Deployed To Kubernetes</p>

<!-- Form to bind 'form' object -->
<form th:action="@{/submit}" th:object="${form}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" />
    </div>
    <button type="submit">Submit</button>
</form>

</body>
</html>
